<section class="container">


    <div class="mobileFooterContainer">
        <div class="footerLogoContainerMobile">
            <div class="footerLogoMobile"></div>
            <span>Web Developer</span>
            <span>Erfurt Germany</span>
        </div>
    
        <!-- <div>
            <span class="copyrightContainer">
                © Justin Bruder 2024
            </span>
        </div> -->
    
        <div class="footerLinksContainerMobile">
            <div>
                <img src="assets/img/smallGreenDotHover.png">
                <span class="spanWhite">Github</span>
            </div>
            <div>
                <img src="assets/img/smallGreenDotHover.png">
                <span class="spanWhite">LinkedIn</span>
            </div>
            <div>
                <img src="assets/img/smallGreenDotHover.png">
                <span class="spanWhite">Email</span>
            </div>
            <div>
                <img src="assets/img/smallGreenDotHover.png">
                <a routerLink="/legal-notice" style="text-decoration: none; color: #d9d9d9;">Legal Notice</a>
            </div>
        </div>
    </div>


    <div class="footerContainer">
    <div class="footerLogoContainer">
        <div class="footerLogo"></div>
        <span>Web Developer</span>
        <span>Erfurt Germany</span>
    </div>

    <div>
        <span class="copyrightContainer">
            © Justin Bruder 2024
        </span>
    </div>

    <div class="footerLinksContainer">
        <div>
            <img src="assets/img/smallGreenDotHover.png">
            <span class="spanWhite">Github</span>
        </div>
        <div>
            <img src="assets/img/smallGreenDotHover.png">
            <span class="spanWhite">LinkedIn</span>
        </div>
        <div>
            <img src="assets/img/smallGreenDotHover.png">
            <span class="spanWhite">Email</span>
        </div>
        <div>
            <img src="assets/img/smallGreenDotHover.png">
            <a routerLink="/legal-notice" style="text-decoration: none; color: #d9d9d9; ">Legal Notice</a>
        </div>
    </div>
</div>

</section>
