<section>
    <div class="mainDialogContainer">
        <div class="leftSideDialogContainer">
            <h1>03</h1>
            <h2>Pokédex</h2>
            <h3>What is this project about?</h3>
            <p>Based on the PokéAPI a simple libary that provides and catalogues pokemon information.</p>

            <div class="usedSkillsMainContainer">
                <div>
                    <img src="../../../assets/img/cssIconDialog.png">
                    <span>CSS</span>
                </div>
                <div>
                    <img src="../../../assets/img/htmlIconDialog.png">
                    <span>HTML</span>
                </div>
                <div>
                    <img src="../../../assets/img/scriptIconDialog.png">
                    <span>JavaScript</span>
                </div>
            </div>

            <div class="buttonContainer">
                <button>
                    <a href="" target="_blank">
                        <span>GitHub</span>
                        <img class="buttonLink" src="../../../assets/img/arrowButton.png">
                    </a>
                </button>
                <button>
                    <a href="" target="_blank">
                        <span>Live Test</span>
                        <img class="buttonLink" src="../../../assets/img/arrowButton.png">
                    </a>
                </button>
            </div>
        </div>

        <div class="rightSideDialogContainer">
            <div class="upperCloseContainer">
                <div class="closeContainer"></div>
            </div>
            <div class="projectPictureContainer">
            </div>
            <div class="nextProjectContainer">
                <span>Next project</span>
                <img src="../../../assets/img/arrow_forward.png" alt="">
            </div>
        </div>
    </div>
</section>