<section>
  <div class="containerHeaderBannerLeftSide">
    <a (click)="scrollToAboutMe()" class="containerSmallArrow">
      <img src="assets/img/smallArrowDown.png">
    </a>
    <div class="greenLineHeaderLeft"></div>
  </div>

  <div class="containerHeaderBannerRightSide">
    <a class="headerMailadressStyle">justin.brudericloud.com</a>
    <a class="containerIconAndDot mailIcon">
      <img src="assets/img/mailIconGreen.png">
      <img class="smallGreenDot" src="assets/img/smallGreenDotHover.png">
    </a>

    <a class="containerIconAndDot">
      <img src="assets/img/githubIconGreen.png">
      <img class="smallGreenDot" src="assets/img/smallGreenDotHover.png">
    </a>

    <a class="containerIconAndDot">
      <img src="assets/img/linkedinIconGreen.png">
      <img class="smallGreenDot" src="assets/img/smallGreenDotHover.png">
    </a>

    <div class="greenLineHeaderRight"></div>
  </div>
</section>

<div class="bannerRotation">
  <div class="bannerContent">
    <span *ngIf="isEnglish; else deFrontend">Frontend Developer</span>
    <ng-template #deFrontend><span>Frontend-Entwickler</span></ng-template>
    <img src="assets/img/smallGreenDotHover.png">

    <span *ngIf="isEnglish; else deLocation">Based in Erfurt</span>
    <ng-template #deLocation><span>Standort: Erfurt</span></ng-template>
    <img src="assets/img/smallGreenDotHover.png">

    <span *ngIf="isEnglish; else deRemote">Available for remote work</span>
    <ng-template #deRemote><span>Verfügbar für Fernarbeit</span></ng-template>
    <img src="assets/img/smallGreenDotHover.png">

    <span *ngIf="isEnglish; else deOpen">Open to work</span>
    <ng-template #deOpen><span>Offen für neue Möglichkeiten</span></ng-template>
    <img src="assets/img/smallGreenDotHover.png">
  </div>
</div>
