section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

a {
  z-index: 99;
}

.containerHeaderBannerLeftSide,
.containerHeaderBannerRightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.containerHeaderBannerLeftSide {
  position: absolute;
  bottom: 0;
  left: 20px;
  gap: 40px;
}

.containerHeaderBannerRightSide {
  position: absolute;
  bottom: 0;
  right: 20px;
  gap: 20px;
}

.headerMailadressStyle {
  color: #d9d9d9;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

.containerSmallArrow {
  border: 1px solid #6ad7bf;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: rgba(94, 184, 169, 0.2);
  }
}

.greenLineHeaderLeft {
  width: 0;
  height: 240px;
  border: 1px solid #6ad7bf;
  border-radius: 30px;
  margin-top: 20px;
}

.greenLineHeaderRight {
  width: 0;
  height: 186px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  margin-top: 20px;
}

.containerIconAndDot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
  cursor: pointer;

  img:first-child {
    transition: filter 0s; 
  }

  &:hover img:first-child {
    filter: brightness(0) invert(1); 
  }
}

.smallGreenDot {
  width: 8px; 
  height: 8px;
  background-color: #6ad7bf;
  border-radius: 50%; 
  position: absolute;
  right: -14px;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.containerIconAndDot:hover .smallGreenDot {
  opacity: 1;
}

.mailIcon {
  display: none;
}

.bannerRotation {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 12px 24px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  color: #3dcfb6;
  font-weight: 400;
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background: rgba(90, 90, 90, 0.5);
  white-space: nowrap;
  transform: rotate(-4deg);
  box-sizing: border-box;
}

.bannerContent {
  display: flex;
  align-items: center;
  gap: 56px;
  animation: moveBanner 30s linear infinite;
}

@keyframes moveBanner {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes moveArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}

.containerSmallArrow img {
  animation: moveArrow 1s ease-in-out infinite;
}

@media (max-width: 1120px) {
  .mailIcon {
    display: flex;
  }
  .headerMailadressStyle {
    display: none;
  }
}

@media (max-width: 1000px) {
  .containerHeaderBannerLeftSide {
    left: 40px;
  }
  .containerHeaderBannerRightSide {
    right: 40px;
  }
}

@media (max-width: 600px) {
  .containerHeaderBannerLeftSide {
    left: 20px;
  }
  .containerHeaderBannerRightSide {
    right: 20px;
  }
}

@media (max-width: 360px) {
  .containerHeaderBannerLeftSide {
    left: 10px;
  }
  .containerHeaderBannerRightSide {
    right: 10px;
  }
}
