<div class="backgroundContainerPrivacyPolicy">
    <div class="headerLogo">
        <img src="assets/img/logo.png" (click)="navigateToHome()" style="cursor: pointer;" alt="Logo">
    </div>
<section>
    <h1>Datenschutzerklärung</h1>
    <p>Stand: 19. November 2024</p>
    
    <h2>Inhaltsübersicht</h2>
    <ul class="index">
        <li><span class="index-link">Verantwortlicher</span></li>
        <li><span class="index-link">Übersicht der Verarbeitungen</span></li>
        <li><span class="index-link">Maßgebliche Rechtsgrundlagen</span></li>
        <li><span class="index-link">Sicherheitsmaßnahmen</span></li>
        <li><span class="index-link">Übermittlung von personenbezogenen Daten</span></li>
        <li><span class="index-link">Internationale Datentransfers</span></li>
        <li><span class="index-link">Allgemeine Informationen zur Datenspeicherung und Löschung</span></li>
        <li><span class="index-link">Rechte der betroffenen Personen</span></li>
        <li><span class="index-link">Bereitstellung des Onlineangebots und Webhosting</span></li>
        <li><span class="index-link">Einsatz von Cookies</span></li>
        <li><span class="index-link">Kontakt- und Anfrageverwaltung</span></li>
    </ul>
    
    
    <h2 id="m3">Verantwortlicher</h2>
    <p>Justin Bruder<br>Pfarrgasse 12, <br>99189 Gebesee</p>
    <p>
        E-Mail-Adresse: 
        <a href="mailto:justin.bruder&#64;icloud.com">justin.bruder&#64;icloud.com</a>
    </p>
    <p>Telefon: 01747639730</p>
    
    <h2 id="mOverview">Übersicht der Verarbeitungen</h2>
    <p>Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die Zwecke ihrer Verarbeitung zusammen und verweist auf die betroffenen Personen.</p>
    <h3>Arten der verarbeiteten Daten</h3>
    <ul>
        <li>Bestandsdaten.</li>
        <li>Kontaktdaten.</li>
        <li>Inhaltsdaten.</li>
        <li>Nutzungsdaten.</li>
        <li>Meta-, Kommunikations- und Verfahrensdaten.</li>
        <li>Protokolldaten.</li>
    </ul>
    <h3>Kategorien betroffener Personen</h3>
    <ul>
        <li>Kommunikationspartner.</li>
        <li>Nutzer.</li>
    </ul>
    <h3>Zwecke der Verarbeitung</h3>
    <ul>
        <li>Kommunikation.</li>
        <li>Sicherheitsmaßnahmen.</li>
        <li>Organisations- und Verwaltungsverfahren.</li>
        <li>Feedback.</li>
        <li>Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.</li>
        <li>Informationstechnische Infrastruktur.</li>
    </ul>
    
    <h2 id="m2427">Maßgebliche Rechtsgrundlagen</h2>
    <p>Im Folgenden erhalten Sie eine Übersicht der Rechtsgrundlagen der DSGVO...</p>

    <h2 id="m27">Sicherheitsmaßnahmen</h2>
    <p>Wir treffen technische und organisatorische Maßnahmen...</p>
    
    <h2 id="m25">Übermittlung von personenbezogenen Daten</h2>
    <p>Im Rahmen unserer Verarbeitung von personenbezogenen Daten...</p>

    <h2 id="m24">Internationale Datentransfers</h2>
    <p>Datenverarbeitung in Drittländern erfolgt gemäß der DSGVO...</p>
    
    <h2 id="m12">Allgemeine Informationen zur Datenspeicherung und Löschung</h2>
    <p>Wir löschen personenbezogene Daten gemäß den gesetzlichen Vorgaben...</p>
    
    <h2 id="m10">Rechte der betroffenen Personen</h2>
    <p>Rechte der betroffenen Personen aus der DSGVO...</p>
    
    <h2 id="m225">Bereitstellung des Onlineangebots und Webhosting</h2>
    <p>Wir verarbeiten die Daten der Nutzer, um ihnen unsere Online-Dienste zur Verfügung zu stellen...</p>

    <h2 id="m134">Einsatz von Cookies</h2>
    <p>Wir verwenden Cookies gemäß den gesetzlichen Vorschriften...</p>

    <h2 id="m182">Kontakt- und Anfrageverwaltung</h2>
    <p>Bei der Kontaktaufnahme mit uns...</p>
    
    <p class="seal">
        <a href="https://datenschutz-generator.de/" 
           title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." 
           target="_blank" 
           rel="noopener noreferrer nofollow">
           Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke
        </a>
    </p>
</section>
<app-footer></app-footer>
</div>
